<div id="uploaded-image">
  <label>Uploaded Image:</label>
  <input id="uploaded-image-url">
</div>

<div id="image-upload-form">
  <form>
    <label>Image Upload:</label>
    <input type="file" id="image-upload-input" name="image">
    <button id="upload-image">Upload</button>
  </form>
</div>
