<div id="import-post-form">
  <form>
    <label>URL:</label>
    <input type="text" name="url" id="import-post-url">

    <label>Source</label>
    <select id="import-post-source">
      <option value="html">HTML</option>
      <option value="markdown" disabled>Markdown</option>
      <option value="medium">Medium</option>
    </select>
    <br>
    <button class="submit" id="submit-import-post">Import</button>
  </form>
  {{> bars }}
</div>
