<div id="post-status">
  <div id="post-loading">
    <h2>Loading . . .</h2>
  </div>
  <div id="post-success">
    <h2>Posted successfully.</h2>
    <a href="/">See Posts</a>
  </div>
  <div id="post-failure">
    <h2>Post failed.</h2>
    <button class="close-status-modal" type="button">Close</button>
  </div>
</div>
