<li class="post">
  <h2 class="post-title"><a href="/post?title={{ post_title }}">{{ post_title }}</a></h2>
  <h4 class="date">{{ post_formatted_date }}</h4>
  <div class="post">
    {{{ html_post_body }}}
  </div>
</li>
