<!DOCTYPE html>
<html>
  <head>
    {{> head }}
  </head>
  <body>
    <div id="container">
      <h1 id="site-header">
        <a href="/">
          {{ mainTitle }}
        </a>
      </h1>
      {{# if index }}
        {{> pagination }}
      {{/ if }}

      {{> bars }}
      {{{ body }}}
      {{> bars }}
      {{#if index}}
        {{> pagination }}
      {{/if }}
      {{> script }}
      <div class="hide">
        <span id="apiUrl">{{ apiUrl }}</span>
      </div>
    </div>
    <a href="/new" id="new-link">
    </a>
  </body>
</html>
