<!DOCTYPE html>
<html>
  <head>
    {{> head }}
  </head>
  <body>
    <h1 id="site-header"><a href="/">Patrick Weaver: Blog</a></h1>
    {{> pagination }}

    <hr>
    {{{body}}}
    <hr>
    {{> pagination }}
    {{> script }}
    <div id="hide">
      <span id="apiUrl">{{ apiUrl }}</span>
    </div>
  </body>
</html>
