<div id="new-post">
  <form id="new-post-form">
    <label>Post Title:</label>
    <input type="text" name="post_title" id="new-post-title">
    <label>Post Date:</label>
    <input type="datetime-local" name="post_date" id="new-post-date">
    <label>Post Body:</label>
    <textarea name="post_body" id="new-post-body">

    </textarea>
    <button class="submit">Submit</button>
  </form>
</div>
