<div id="new-post">
  <form>
    <label>Post Title:</label>
    <input type="text" name="post_title">
    <label>Post Date:</label>
    <input type="datetime-local" name="post_date">
    <label>Post Body:</label>
    <textarea name="post_body">

    </textarea>
    <button>Submit</button>
  </form>
</div>
