<div class="post">
  <h2 class="post-title"><a href="/post/{{ post.slug }}">{{ post.title }}</a></h2>
  <h4 class="date">{{ post.formatted_date }}</h4>
  <div class="post">
    {{{ post.html_body }}}
  </div>
</div>
