<h2>Profile</h2>

<ul>
  <li>ID: {{ user.id }}</li>
  <li>Username: {{ user.username }}</li>
  <li>Type: {{ user.type }}</li>
</ul>

<h4>Actions:</h4>
<ul>
  <li><a href="/new">New Post</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>
