* {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  margin: 1em 4%;
}

ul {
  padding: 0;
}

#hide {
  display: none;
  font-size: 0;
  height: 0;
  width: 0;
}

/* Layout */

h1#site-header > a, h1#site-header > a:hover, h1#site-header > a:visited, h1#site-header > a:active {
  text-decoration: none;
  color: black;
}


/* Posts */

ul#posts {
  list-style: none;
}

post-preview {
  margin: 3em, 2%, 1em;
}

/* Pagination */

ul#pagination {
  list-style: none;
}

ul#pagination > li.page-number {
  display: inline;
}




/* New Post */

#new-post label, #new-post input, #new-post textarea, #new-post button {
  display: block;
  margin: .5em 0;
}

#new-post label, #new-post input {
  font-size: 200%;
}

#new-post textarea, #new-post button {
  font-size: 150%;
  line-height: 150%;
}

#new-post textarea {
  width: 100%;
  padding: .5em;
}
